# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# huge file

# log
wandb/

results/

.vscode

*.hdf5

# folder
data/
assets/
reference/
sweep/
backup/
# files
*.txt
*.png
*.pdf
*.sh
*.md
sweep/
results*
